* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}



:root {
    --white-color: #e8e7e7;
    --dark-color: #0c0909;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-color: #faf4f5;
    --medium-gray-color: #ccc;

    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --font-size-l: 1.12rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-bold: 500;
    --font-weight-bolder: 600;

    --border-radius-small: 8px;
    --border-radius-medium: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

body{
    background-color: var(--secondary-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

header{
    background: var(--primary-color);
}

.navbar .nav-logo .logo-text{
    color: var(--white-color);

}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

}

.navbar .nav-logo .logo-text{
    color: var(--white-color);
}

.navbar .nav-menu .nav-link{
    color: var(--white-color);
}



.logo-text{
    font-size: var(--font-size-xl);
    color: var(--white-color);
    font-weight: var(--font-weight-bolder);
}



.navbar .nav-menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-link{
    color: var(--white-color);
    font-size: var(--font-size-m);
}



.navbar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width: var(--site-max-width);
    margin:auto;
    padding:20px;

}


.button-order-now {
    background: var(--secondary-color);
    color: var(--white-color);
    padding: 12px 25px;
    border-radius: var(--border-radius-small);
    display: inline-block;
    transition: all 0.3s ease;
    font-weight: var(--font-weight-bold);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


.button-order-now:hover {
    background: #b5852a;
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}


.button-contact-us {
    border: 2px solid var(--white-color);
    color: var(--white-color);
    padding: 10px 23px;
    border-radius: var(--border-radius-small);
    margin-left: 10px;
    transition: all 0.3s ease;
}

.button-contact-us:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.readme-button {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: var(--border-radius-small);
    font-weight: bold;
    transition: 0.3s;
}

.ticker__text{
    color:#ffffff;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bolder);
    text-align: center;
}

.sale-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    column-gap: 10px;
    background-color: #ff4242;
}