<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <link href="https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

<!--      <link th:href="@{/css/navbar.css}" rel="stylesheet">-->
      <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<main>


    <div class="sale-container"  data-countdown="" data-start-date="2026-03-10 00:00:00" data-end-date="2026-03-20 23:59:00" data-bg-color="#ff4242"> <p class="ticker__text"  href="/booksale"></a> </p>
    <p class="ticker__text"> <a class="sale-p" href="/booksale" >BOKREA - fynda upp till 50% nu &gt;&gt;</a> </p>
     </div>
    <button class="readme-button">Read More</button>
    <img src="images/bookstorehome.png" alt="book" style="width: 500px; height: 500px;">

</main>


</body>
</html>