<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
</head>
<body>
<header th:fragment="navbar">

    <nav class="navbar">
        <a th:href="@{/}" class="nav-logo">
            <h2 class="logo-text">Bookstore📖</h2>
        </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/books}" class="nav-link">Books</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/contact}" class="nav-link">Contact</a>
            </li>
        </ul>
        <form th:action="@{/books}" method="get" class="search-form">
            <label for="keyword"></label>
            <input id="keyword" type="text" name="keyword" th:value="${keyword}" placeholder="Search books...">
            <button class="button" type="submit">Search</button>
            </form>
    </nav>
</header>

</body>
</html>